---
title: Projects
layout: default
---
<div class="container-fluid">
  <div class="featurette jumbotron splash">
    <div>
      <h2 class="featurette-heading">{{ page.title }}</h2>
      <h4>{% if page.date %}<i class="fa fa-calendar"></i> {{ page.date }}{% endif %} {% if page.location %}<i class="fa fa-map-marker"></i> {{ page.location }}{% endif %}</h4>
    </div>
  </div>
</div>
<div class="container marketing">
{% capture count %}-1{% endcapture %}
{% assign projects = "" | split: "," %}
{% for project in site.pages %}
    {% assign path = project.path | prepend: "/" %}
    {% if path contains page.url %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
    {% assign projects = projects | push: project %}
    {% endif %}
{% endfor %}
{% assign projects = projects | shift | sort: 'date' | reverse %}

{% for project in projects %}
  <a class="post-title" href="{{ site.baseurl }}{{ project.url }}"><h2>{{ project.title }}</h2></a>
  <h4>{% if project.date %}<i class="fa fa-calendar"></i> {{ project.date }}{% endif %} {% if project.location %}<i class="fa fa-map-marker"></i> {{ project.location }}{% endif %}</h4>
  <p>{% if project.description %}{{ project.description }}{% else %}{{ project.content | truncate: 40 }}{% endif %}</p>
{% endfor %}
</div>
