---
layout: page
title: About
---

<div class="row featurette">
  <div class="col-md-3">
    <h2 class="featurette-heading">Our<br>Mission:</h2>
  </div>
  <div class="col-md-9">
    <h3 class="featurette-heading">To honor God.</h3>
    <p class="lead">We are here to create artwork in everything we do where God's beauty, love, and power are radiated. While we are broken people, we serve a whole and ultimate God.</p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-3">
    <h2 class="featurette-heading">Our<br>Goals:</h2>
  </div>
  <div class="col-md-9">
    <h3 class="featurette-heading">To serve you.</h3>
    <p class="lead">We are here to serve and give, not to take. We give 20% of all profit to those in need so we can continue to grow and serve others.</p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-sm-12 col-md-3 text-center-sm text-left-md">
    <h2 class="featurette-heading">Our<br>Staff:</h2>
  </div>
  {% for staff in site.data.staff limit: 1 %}
    <div class="col-sm-9 staff-member text-center">
      <img class="img-rounded" src="/assets/images/staff/{{ staff.picture }}" alt="{{ staff.name }}">
      <h2>{{ staff.name }}</h2>
      <h4>{{ staff.position }}</h4>
      <p class="text-center-sm">{{ staff.bio }}</p>
      {% unless forloop.last %}<hr class="featurette-divider">{% endunless %}
    </div>

  {% endfor %}
  {% for staff in site.data.staff offset: 1 %}
    {% capture onetwo %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="col-sm-6 staff-member text-center">
      <img class="img-rounded" src="/assets/images/staff/{{ staff.picture }}" alt="{{ staff.name }}">
      <h2>{{ staff.name }}</h2>
      <h4>{{ staff.position }}</h4>
      <p class="text-center-sm">{{ staff.bio }}</p>
    </div>
    {% if onetwo == 'even' %}
    <div class="hidden-xs col-sm-12">
      {% unless forloop.last %}<hr>{% endunless %}
    </div>
    {% endif %}
  {% endfor %}
</div>

<hr class="featurette-divider">

<div class="jumbotron text-center grass">
  <p class="lead">Interested in having us manage your landscaping needs?</p>
  <a href="/contact" class="btn btn-lg btn-graff">Contact Us!</a>
</div>
