<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.title }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for mainlink in site.data.nav.main %}
          {% if mainlink.sub == null %}
            <li><a href="{{ site.baseurl }}{{ mainlink.url }}" {% if mainlink.new_window %}target="_blank"{% endif %}>{{ mainlink.title }}</a></li>
          {% else %}
            <li class="dropdown">
              <a href="{{ site.baseurl }}{{ mainlink.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ mainlink.title }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for sublink in mainlink.sub %}
                  <li><a href="{{ site.baseurl }}{{ mainlink.url }}/{{ sublink.url }}">{{ sublink.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
    		{% endfor %}
      </ul>
    </div>
  </div>
</nav>
