---
title: Fall Cleanup
description: Fall clean-up was super cool!
image: /assets/images/projects/carousel1.jpg
---
{% capture count %}-1{% endcapture %}
{% assign portfolio = "" | split: "," %}
{% for project in site.pages %}
  {% if project.categories contains "fall-cleanup" %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
    {% assign portfolio = portfolio | push: project %}
  {% endif %}
{% endfor %}
{% assign portfolio = portfolio | sort: 'date' | reverse %}

{% for project in portfolio %}
  <a class="post-title" href="{{ site.baseurl }}{{ project.url }}"><h2>{{ project.title }}</h2></a>
  <h4>{% if project.date %}<i class="fa fa-calendar fa-color"></i> {{ project.date | date: "%m/%d/%Y" }}{% endif %} {% if project.location %}<i class="fa fa-map-marker fa-color"></i> {{ project.location }}{% endif %}{% for category in project.categories %} <span class="label label-graff"><a href="/portfolio/{{category}}">{{ category }}</a></span>{% endfor %}</h4>
  <p>{% if project.description %}{{ project.description }}{% else %}{{ project.content | truncate: 40 }}{% endif %}</p>
{% endfor %}
