---
---

body {
  margin-top: 50px;
}

small {
  color: #89C3C7 !important;
}

@import "nav";
@import "carousel";

.container-fluid {
  padding: 0;
  overflow-x: hidden !important;
}

.featurette-divider {
  margin: 80px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.req {
  color: OrangeRed;
}

.jumbotron {
  padding: 0;
}

.jumbotron h1 {
  padding: 30px;
}

.featurette-heading {
  color: #0E1D33;
}

.featured-image {
  max-height: 60vh;
  margin-bottom: 0px;
  width: 100%;
  object-fit: cover;
}

.fa {
  color: #89C3C7;
}

.marketing {
  p {
    font-size: 120%;
  }
  &.project {
    padding-bottom: 30px;
  }
}

#title-single {
  text-align: center;
  height: calc(40vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  .featurette-heading {
    margin-top: 10px;
  }
}

#title {
  text-align: center;
  height: calc(40vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;

  .featurette-heading {
    margin-top: 10px;
  }
}

#welcome {
  text-align: center;
  height: calc(40vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;

  .featurette-heading {
    margin-top: 10px;
  }
}

@import "media";
