---
---
$graff-light: #8AC2C7 !default;
$graff-dark: #0E1E34 !default;
$light-grey: #ECF0F1 !default;
$grey: #333333 !default;

$bgDefault: $graff-dark;
$bgHighlight: $graff-dark;
$colDefault: $light-grey;
$colHighlight: $light-grey;
$border: $graff-light;
$dropDown: true;

body {
  margin-top: 50px;
}

a {
  color: $graff-light;
  &:hover, &:active, &:focus {
    color: darken($graff-light,10%);
  }
}

td, th {
  padding: 2px 20px;
}

img {
  max-width: 100%;
}

@import "nav";
@import "carousel";

.container-fluid {
  padding: 0;
  overflow-x: hidden !important;
}

.footer {
  padding-top: 50px;
}

.featurette-divider {
  margin: 80px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.req {
  color: OrangeRed;
}

.jumbotron {
  padding: 0;
}

.jumbotron h1 {
  padding: 30px;
}

.featurette-heading {
  color: $graff-dark;
  & .text-muted {
    color: $graff-light !important;
  }
}

.featured-image {
  max-height: 60vh;
  margin-bottom: 0px;
  width: 100%;
  object-fit: cover;
}

.fa-color {
  color: $graff-light;
}

.marketing {
  p {
    font-size: 120%;
  }
  &.project {
    padding-top: 30px;
  }
}

.splash {
  text-align: center;
  height: calc(40vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;

  .featurette-heading {
    margin-top: 10px;
  }
}

.splash-color {
  background-color: lighten($graff-light, 25%);
}

.staff-member {
  padding-bottom: 20px;
  & img {
    width: 140px;
    height: 140px;
  }
}

@import "media";
