---
title: Our Work
layout: page
subtitle: Planned, planted, photographed
---
{% assign portfolios = "" | split: "," %}
{% for portfolio in site.pages %}
  {% if portfolio.path contains "portfolio" %}
    {% if portfolio.path != page.path %}
      {% assign portfolios = portfolios | push: portfolio %}
    {% endif %}
  {% endif %}
{% endfor %}
<div class="row">
  {% for portfolio in portfolios %}
  <!-- tile -->
  <div class="col-sm-4">
    <div class="thumbnail">
      <a href="{{ portfolio.url }}"><img src="{{ portfolio.image }}" alt="{{ portfolio.title }}" style="width:100%"></a>
      <div class="caption">
        <a class="post-title" href="{{ portfolio.url }}"><h2>{{ portfolio.title }}</h2></a>
        <h4>{{ portfolio.description }}</h4>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="clearfix"></div>
<hr>
<h2 class="text-center"><a href="/project">View All Projects</a></h2>
