---
layout: default
---
<div class="container-fluid">
</div>
<div class="container-fluid">
  <div class="row featurette splash splash-color">
    <div class="col-xs-12">
      <h2 class="featurette-heading">{{ page.title }}</h2>
      <h3>{% if page.date %}<i class="fa fa-calendar"></i> {{ page.date | date: "%m/%d/%Y" }}{% endif %} {% if page.location %}<i class="fa fa-map-marker"></i> {{ page.location }}{% endif %}</h3>
      {% for category in page.categories %} <span style="font-size: 120%" class="label label-graff h2"><a href="/portfolio/{{ category | slugify }}">{{ category }}</a></span>{% endfor %}
    </div>
  </div>
</div>
<div class="container marketing project">
  <div id="more">
    {{ content }}
  </div>
  {% include gallery.html path=page.dir %}
</div>
