---
layout: default
---
<div class="container-fluid">
  <div id="welcome" class="row featurette splash splash-color">
    <div class="col-xs-12 col-md-8">
      <h1 class="featurette-heading">{{ page.title }}</h1>
      <h3>{{ page.description }}</h3>
    </div>
  </div>
</div>
<div class="container marketing">
  {% assign portfolio = "" | split: "," %}
  {% for project in site.pages %}
    {% if project.categories contains page.title %}
      {% assign portfolio = portfolio | push: project %}
    {% endif %}
  {% endfor %}
  {% assign portfolio = portfolio | sort: 'date' | reverse %}

  {% include list-projects.html %}
</div>
